<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoyazzDevelopment</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <nav>
        <h1 class="title">Registro</h1>

        <ul class="user">
            {% if g.user %}
                <li><span>{{ g.user['username']}}</span></li>
                <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesion</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
                <li><a href="{{ url_for('auth.login') }}">Iniciar Sesion</a></li>
            {% endif %}
        </ul>
    </nav>

<section class="content">
    <form method="POST">
        <label for="username">Username</label>
        <input name="username" id="username" required />
        <label for="password">Password</label>
        <input  type="password" name="password" id="password" required />
        <input  type="submit" value="Registrarse"/>
    </form>
</section>
</body>
</html>